{{ form_start(form) }}
{{ form_widget(form) }}
{% if error %}
    <div class="text-danger text-center">{{ error|trans({}, 'security') }}</div>
{% endif %}
<p>
    <a href="{{ path('sidus.user.login') }}">{{ 'lost_password.back'|trans({}, 'security') }}</a>
</p>
<input class="btn btn-lg btn-success btn-block" type="submit" id="_submit" name="_submit"
       value="{{ 'lost_password.submit'|trans({}, 'security') }}">
{{ form_end(form) }}
