{{ form_start(form) }}
{{ form_widget(form) }}
<p>
    <a href="{{ path('sidus.user.login') }}">{{ 'reset_password.back'|trans({}, 'security') }}</a>
</p>
<input class="btn btn-lg btn-success btn-block" type="submit" id="_submit" name="_submit"
       value="{{ 'reset_password.submit'|trans({}, 'security') }}">
{{ form_end(form) }}
